/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{
  background-image: url('lotto_back.jpg');
  repeat: no-repeat;
 }

 .orange {
    height: 100px;
    width: 100px;
    /*border-radius: 100%;*/
    background-image: radial-gradient(circle at left top,white 10%,#FFBF00 90%);
    color: white;
}

.blue {
   height: 100px;
   width: 100px;
   /*border-radius: 100%;*/
   background-image: radial-gradient(circle at left top,white 10%,#0000FF 90%);
   color: white;
}
.red {
   height: 100px;
   width: 100px;
   /*border-radius: 100%;*/
   background-image: radial-gradient(circle at left top,white 10%,#FF0000 90%);
   color: white;
}
.gray {
   height: 100px;
   width: 100px;
   /*border-radius: 100%;*/
   background-image: radial-gradient(circle at left top,white 10%,#BDBDBD 90%);
   color: white;
}
.green {
   height: 100px;
   width: 100px;
   /*border-radius: 100%;*/
   background-image: radial-gradient(circle at left top,white 10%,#00FF00 90%);
   color: white;
}

.jumbotron {
    position: relative;
    background: #000 url("jumbotron-bg.jpg") center center;
    width: 100%;
    height: 100%;
    opacity: 0.95;
    background-size: cover;
    overflow: hidden;
}
